*,
* ::after,
* ::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 1em 12em;
}

header a {
    color: #f9faf8;
}

.header-logo .header-logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.hero-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav .header-link-text {
    display: flex;
    text-transform: capitalize;
    list-style-type: none;
    gap: 1.4em;
    font-size: 1em;
}

nav ul li {
    border: none;
    position: relative;
}

nav ul li::after {
    background-color: orange;
    content: "";
    width: 0px;
    height: 3vh;
    left: 0;
    bottom: -2px;
    transition: width 0.35s ease 0s;
    position: absolute;
}

nav ul li a {
    text-decoration: none;
}

nav ul li:hover::after {
    width: 100%;
}


/* ---------------------------------------HERO MAIN------------------------------------------*/

.hero-main {
    padding: 7em 0;
}

.hero-main-text-para {
    color: #f9faf8;
}

.hero-main-text h1 {
    color: #f9faf8;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 2px 20px black;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.hero-main-text-para {
    text-align: justify;
    width: 87%;
}

.hero-main .hero-content .hero-secondary-box1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-btn {
    border: none;
}

button {
    background-color: #3882f6;
    width: 12em;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: #f9faf8;
    font-size: small;
    border: none;
}

.hero-secondary-box2 {
    width: 50%;
    flex-shrink: 0;
}

.image-placement {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border: 2px solid green;
    height: 220px;
}

.hero-container {
    padding: 1em 14em;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 1em 0px;
    text-align: center;
}

.hero-card-parent {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.hero-box {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.hero-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hero-card>.hero-card-content {
    text-align: center;
    width: 200px;
}

section {
    background-color: #e5e7eb;
    min-height: 454px;
    padding: 10em 23em;
    margin: 3em 0px;
}

.quote-cite {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: light;
    word-wrap: break-word;
    text-align: justify;
}

.thor {
    font-weight: bolder;
    font-family: Calibri, "Trebuchet MS", sans-serif;
    font-size: 2rem;
}

.signup {
    background-color: white;
    padding: 0.25em 13em;
}

.newletter {
    border-radius: 10px;
    background-color: #3882f6;
    display: flex;
}

.btn {
    border: 2px solid #f9faf8;
}

footer {
    background-color: #1f2937;
    text-align: center;
    color: #f9faf8;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}